<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Get-it</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/getit.css')}}">
</head>
<body>
<div class='body2'>
    <img src="{{ url_for('static', filename='img/logo-getit.png') }}">
    <div class="edit-column">
        <h3>Editar Nota</h3>
        <form action="/update/{{data.id}}" method="POST">
            <label for="titulo">Título</label>
            <input id="titulo" type="text" name="titulo" value="{{ data.titulo }}" />
            <label for="detalhes">Detalhes</label>
            <textarea id="detalhes" name="detalhes" style="resize: none; width: 100%; height: auto;" oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px'">{{ data.detalhes }}</textarea>
            <button type="submit"><def class="save-button">salvar</def></button>
        </form>
    </div>
</body>
</html>