<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Get-it</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/getit.css')}}">
</head>
<body>
  <img src="{{ url_for('static', filename='img/logo-getit.png') }}">
  <div class="text-column">
  <form action="/submit" method="POST">
      <label for="titulo">Título</label>
      <input id="titulo" type="text" name="titulo" />
      <label for="detalhes">Detalhes</label>
      <textarea id="detalhes" name="detalhes" style="resize: none; width: 100%; height: auto;" oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px'">{{detalhes if detalhes is not none else '' }}</textarea>
      <button type="submit"><div class="save-button">criar</div></button>
    </form>
  </div>
{% for note in datas %}
<div class="text-row">
<table>
  <tr>
    <td>
      <div class="container">
      <div class="notes" data-id="{{note.id}}"> <!-- Add data-id attribute -->
          <div class="note-title">{{note.titulo}}</div>
          <div class="note-content">{{note.detalhes}}</div>
            <form action="/delete/{{note.id}}" method="POST">
              <button type="submit"><div class="delete-button">x</div></button>
            </form>
            <form action="/edit/{{note.id}}" method="POST">
              <input type="hidden" id="titulo" name="titulo" value="{{note.titulo}}">
              <input type="hidden" id="detalhes" name="detalhes" value="{{note.detalhes}}">
              <button type="submit"><div class="edit-button">editar</div></button>
            </form>
        </div>
        <!-- Adicione mais notas conforme necessário -->
      </div>
    </td>
  </tr>
{% endfor %}
</table>
</div>

<!-- Include JavaScript file -->
<script src="{{ url_for('static', filename='data/getit.js') }}"></script>
</body>
</html>